.skills-row {
    display: flex;
    justify-content: space-evenly;
}

.skills-card {
    transition: transform 0.3s;
    text-align: center;
    font-weight: bold;
    margin-bottom: 1vh;
}

.skills-card:hover {
    transform: scale(1.03);
}

.skills-card-header {
    font-size: 1.8em;
}

.skills-image {
    width: 4em;
}

.skills-card-text {
    display: flex;
    flex-direction: column;
}

